*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
#my-list li{
padding: 5px 26px;
border: 2px solid black;
margin: 5px;
list-style: none;
justify-content: space-between;
display: flex;
max-width: 95%;
}
/* #my-list{
    display: flex;
} */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main, ul{
    margin-top: 20px;
}
#submitBtn{
    margin-top: 8px;
}